body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,p,input,select,textarea,form{margin: 0; padding: 0;}
body{font:14px/1.5 "Microsoft Yahei";}
img{border:none;}
ul,ol{list-style:none;}
input,select,textarea{outline:none;border:none;background:none;}
textarea{resize:none;}
a{text-decoration:none;text-indent: 11px;}

/*清浮动*/
.clearfix:after{content:"";*display:block;*clear:both;}
.clearfix{zoom:1;}

/*box*/
.box{width: 1260px;margin: 0px auto;}

/*headBar*/
.headerBar{margin: 0px auto;width: 1260px;}
.topBar{margin: 0px auto;height: 30px;background-color:rgb(245, 245, 245)}
.leftArea li{float: left;width: 80px;text-align: center;font: 12px/2.3em "Microsoft Yahei";color:gray;}
.bigImg{position: relative;display: inline-block;
        width: 1260px;height: 81px;background-color: rgb(65, 190, 240);}
.topBanner{width: 1230px;padding-left: 15px}
.box .clear {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #999;
    color: gray;
    text-align: center;
    line-height: 15px;
}
/*顶部*/
.rightArea{float:right;}
.red{color: red;}
.redd,.gray{color:gray;}
.redd:hover{color: red;}
.rightArea li{float: left;width: 70px;font: 12px/2.3em "Microsoft Yahei";color: rgb(206, 205, 205);}
.phone{margin:2px 0px 0px 9px;position:absolute;clip:rect(0px,15px,20px,0px);}

/*First*/
.First{margin: 15px auto 5px;width:1230px;height: 70px;}
.FirstLeft{float: left;width:350px;height:60px;}
.Fsearch{float: left;width: 565px;height: 70px;}
/*搜索框*/
.searchTop{margin: 5px 5px 5px 15px;}
.searchtext{width: 460px;height: 36px;border-style: solid;border-color: firebrick;border-width: 1.5px;font-size: 13px;text-indent: 5px;}
.searchclick{width: 80px;height: 39px;background-color: firebrick;font-size: 14px;border-bottom-style: solid;border-bottom-color: firebrick;border-bottom-width: 3px;color: white}
/*搜索框下行字*/
.searchList li{float: left;text-indent:11px;font: 10px/1.2em "Microsoft Yahei";}
.searchList a{color:gray;}
.searchList a:hover{color: firebrick}
/*我的购物车*/
.shopCart{float: left;width: 315px;height: 70px;}
.cart{margin: 5px 0px 0px 100px;width: 150px;height: 32px;background-color: rgb(250, 250, 250);border-style: solid;border-color: gainsboro;border-width: 1.5px;}
.cart a{font: 13px/3em "Microsoft Yahei";color: gray;line-height: 30px;}
.cartimg{float: left;margin-left: 30px;width: 25px;height: 30px;overflow: hidden;}
.cartimg img{margin-top: -51px;}

/*main*/
.main{margin: 0px auto;width:1230px;height: 500px;}
.mainleft{float: left;width: 210px;height: 500px;}
.mainright{float: right;width: 1020px;height: 500px;}

/*main左部分导航*/
.mainleft a{color: white;display: block;line-height: 30px;background-color: crimson;height: 30.7px;width: 210px;}
.mainleft a:hover{background: rgb(180, 30, 30);color: rgb(220, 150, 0)}

/*main右部分*/
.mainrtop{width: 990px;height: 32px;}
.mainrleft{margin: 0px 5px 0px 10px;float:left;width: 750px;height: 440px;}
.mainrright{margin: 0px 10px 0px 5px;float:left;width: 230px;height: 440px;}
/*右上导航条*/
.mainrtop li{float: left;text-indent: 49px;}
.mainrtop a{color:black;font: 14px/3em "Microsoft Yahei";}
.mainrtop a:hover{color: firebrick;}
.mainrtopimg{float: left;width: 100px;height: 50px;}
.img2{margin: -15px 50px 0px 110px;}
.hr{width: 1020px;background-color: firebrick}
/*右下*/
/*滚动*/
.slide{width: 750px;height: 450px;}
/*最右*/
.mrcase{width: 247px;height: 368px;border-style: solid;border-color: gainsboro;border-width: 1.5px;}

/*最右上表*/
.mrfir{width: 248px;height: 160px;border-bottom-style: dashed;border-bottom-color: gainsboro;border-bottom-width: 1.5px;}
.mrfir li{line-height: 20px;height: 25px;width: 230px;font: 12px/1.5em "Microsoft Yahei";text-indent: 30px;color: gray}
.mrfir a{color: gray}
/*小case*/
.firstone,.firsttwo,.firstthree,.secondone,.secondtwo,.secondthree,.thirdone,.thirdtwo,.thirdthree{
    margin-top: -1px 0px 0px -1px;float: left;width: 62px;height: 68px;text-align:center;
    border-right-style: solid;border-right-color: gainsboro;border-right-width: 1.5px;
    border-bottom-style: solid;border-bottom-color: gainsboro;border-bottom-width: 1.5px;}
.mrsec a{font: 12px/1.5em "Microsoft Yahei";line-height: 105px;}
.mrsec a:hover{color: firebrick;}

.mrbottomimg{margin: 5px 0px 0px;}
.img3{width: 250px;height: 74px;}

/*今日推荐*/
.recommend{margin: 10px auto;width: 1230px;height: 150px;}
.today{float: left;width: 210px;height: 150px;background:url(img/today.png) repeat;background-position:90% 90%;background-size: 80% 80%;}
.imges img{float: right;width: 255px;height: 150px;}

/*底部*/
/*多快好省*/
.last{margin: 20px auto;width: 1260px;height: 250px;}
.lastup{margin-bottom: 15px;height: 80px;width: 1260px;background-color: rgb(245, 245, 245);}
.backg{float: left;width: 310px;height: 70px;text-indent: 20px}
.lastup img{width: 210px;height: 50px;margin-top: 15px;}
.lastdown{height: 160px;}
/*列*/
.lie{float: left;height: 160px;}
.lie ul{float: left;text-indent: 127px;}
.lie a{font: 12px/1.5em "Microsoft Yahei";color: rgb(100, 100, 100)}
.lie a:hover{color: firebrick;}

.jingdong{float: left;width: 352px;height: 160px;background:url(img/china.png) no-repeat;background-position:180% 100%;}
.jingdong li,a{font: 12px/1.5em "Microsoft Yahei";color: rgb(100, 100, 100)}
.jingdong a:hover{color:firebrick}

/*lastlast*/
.lastlast{margin: 0px auto;}
/*关于我们*/
.us{width: 1230;height: 50px;}
.us ul{padding-left: 70px}
.us li{float: left;line-height: 45px;text-indent: 10px;color: gainsboro;}
.us a:hover{color: firebrick;}
/*ules最后四行字*/
.uless li{float: left;line-height: 20px;text-indent: 10px;color: gainsboro;}
.uless span{font: 12px/1.5em "Microsoft Yahei";color: rgb(150, 150, 150)}
.uless a{color: rgb(150, 150, 150)}
.uless a:hover{color: firebrick;}
.uless{margin: 0 auto;;width: 1230px;height: 20px;}
.ulone{padding-left: 200px;}
.ultwo{padding-left: 170px;}
.ulthree{padding-left: 190px;}
.ulfour{padding-left: 490px;}

/*app下载*/
.app{margin: 20px auto;padding-left:330px;height: 40px;}
.app li{float: left;text-indent: 10px}
